name: Create / Destroy a kitchen on demand

#on:
#  issues:
#    types:
#      - labeled
on:
  push:
    branches:    
      - 'master'

jobs:  
  terraform-apply:
    name: Create / Apply changes to Azure Resources using Terraform
    #needs: az-key-vault-secrets
    #if: github.event.label.name == 'create'
    uses: ./.github/workflows/terraform-create.template.yaml
    with:      
      secrets_keys_list: 'terraformApiToken'
    secrets:
      key_vault_credentials: ${{ secrets.AZURE_CREDENTIALS }}
      key_vault_name: ${{ secrets.AZURE_KEY_VAULT_NAME }}


  # Apply Infrastructure configurations when a issue is labelled as "destroy".
  #terraform-destroy:
  #  name: Destroy Azure Resources using Terraform
  #  runs-on: ubuntu-20.04
  #  #needs: az-key-vault-secrets
  #  if: github.event.label.name == 'destroys'
