name: Create kitchen

on:
  push:
    branches: [master]

jobs:
  # Apply Infrastructure configurations when a issue is labelled as "create".
  create-kitchen:
    name: Create kitchen resources
    uses: ./.github/workflows/terraform-create.template.yaml
    with:
      secrets_keys_list: "terraformApiToken"
    secrets:
      key_vault_credentials: ${{ secrets.AZURE_CREDENTIALS }}
      key_vault_name: ${{ secrets.AZURE_KEY_VAULT_NAME }}
