name: Create kitchen

on:
  push:
    branches:
      - $default-branch

jobs:  
  # Apply Infrastructure configurations when a issue is labelled as "create".
  create-kitchen:
    name: Create kitchen resources
    if: github.event.label.name == 'create'
    uses: ./.github/workflows/terraform-create.template.yaml
    with:      
      secrets_keys_list: 'terraformApiToken'
    secrets:
      key_vault_credentials: ${{ secrets.AZURE_CREDENTIALS }}
      key_vault_name: ${{ secrets.AZURE_KEY_VAULT_NAME }}
