name: Update PR with TF plan

on:
  pull_request:
    types: [opened, synchronize, reopened]
    branches: [master]

jobs:
  # Create Terraform plan when a pull request is opened or updated.
  kitchen-plan:
    name: Create kitchen resources
    runs-on: ubuntu-20.04
    #uses: ./.github/workflows/terraform-plan.template.yaml
    #with:
    #  secrets_keys_list: "terraformApiToken"
    #secrets:
    #  key_vault_credentials: ${{ secrets.AZURE_CREDENTIALS }}
    #  key_vault_name: ${{ secrets.AZURE_KEY_VAULT_NAME }}
    steps:
      # Azure login with SP credentials
      - name: Azure Login
        uses: Azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}
