#name: Update PR with TF plan

on:
  pull_request:
    types: [opened, synchronize, reopened]
    branches: [master]

name: Update PR with kitchen TF plan


jobs:
  # Apply Infrastructure configurations when a issue is labelled as "create".
  kitchen-plan:
    name: Submit kitchen TF plan
    uses: filipefigueredo/blackcats/.github/workflows/terraform-plan.template.yaml
    with:
      secrets_keys_list: "terraformApiToken"
    secrets:
      key_vault_credentials: ${{ secrets.AZURE_CREDENTIALS }}
      key_vault_name: ${{ secrets.AZURE_KEY_VAULT_NAME }}
