name: Terraform destroy

on:
  workflow_call:
    inputs:
      target-directory:
        description: "Target working directory (development/production/staging)"
        required: false
        type: string
        default: "development"

    secrets:
      key_vault_name:
        description: Key Vault name
        required: true
      key_vault_credentials:
        description: Azure credentials to access Key Vault
        required: true

jobs:
  terraform-destroy:
    name: Destroy Terraform configurations

    runs-on: ubuntu-20.04

    steps:
      # Azure login with SP credentials
      - name: Azure Login
        uses: Azure/login@v1
        with:
          creds: ${{ secrets.key_vault_credentials }}

      # Retrieve secrets from Azure Key Vault
      - name: Get secrets from KV
        uses: Azure/get-keyvault-secrets@v1
        with:
          keyvault: ${{ secrets.key_vault_name }}
          # comma separated list of secret keys that need to be fetched from the Key Vault
          secrets: terraformApiToken
        id: getSecrets

      # Checkout repository
      - name: Checkout
        uses: actions/checkout@v2

      # Retrieves the Terraform CLI used in the GitHub action workflow
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v1
        with:
          cli_config_credentials_token: ${{ steps.getSecrets.outputs.terraformApiToken }}

      # Initializes Terraform configurations.
      - name: Terraform Init
        run: terraform init

      # Destroys terraform configuration
      - name: Terraform Destroy
        run: terraform apply -destroy -auto-approve
